.Background {
  background-image: linear-gradient(to bottom, #468169, #eaeaea);
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.Background .Slider {
  position: absolute;
  width: min(200px, 48vw);
  height: min(300px, 60vw);
  top: 5%;
  left: calc(50vw - 100px);
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRotate 60s linear infinite;
}

@keyframes autoRotate {
  from {
    transform: perspective(800px) rotateX(-10deg) rotateY(0deg) ;
  }
  to {
    transform: perspective(800px) rotateX(-10deg) rotateY(360deg) ;
  }
}

.Background .Slider .Item {
  position: absolute;
  inset: 0;
  transform: 
    rotateY( calc( (var(--position) - 1) * (360/var(--quantity)) * 1deg ) )
    translateZ(min(450px, 80vw));
}

.Background .Slider .Item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: max-content;
  padding: 2vw 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.PreHeader {
  font-size: min(1rem, 4vw);
  font-weight: 700;
  color: #242424;
  text-align: left;
  /* -webkit-text-stroke: 1px #eaeaea; */
  line-height: 1;
  width:100%;
}

@media (max-width: 350px) {
  .PreHeader {
    color: #eaeaea;
    -webkit-text-stroke: 0px #eaeaea;
  }  
}

.Tagline {
  font-size: min(6rem, 24vw);
  font-weight: 900;
  text-align: left;
  color: #242424;
  position: relative;
  -webkit-text-stroke: 2px #eaeaea;
  line-height: 1;
  width:100%;
}

.Blurb {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  color: #242424;
  text-align: left;
  padding-top: 24px;
}

.PreHeader::after, .Tagline::after {
  display: none;
}

button {
  background-color: #468169;
  color: #eaeaea;
  border: 1px solid #468169;
  border-radius: 48px;
  padding: 24px 64px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.GetStartedContainer {
  text-align: center;
  padding-top: 36px;
}

.Blurb a {
  color: #242424;
  text-decoration: underline;
  text-underline-offset: 2px;
}
